@import url('./globalStyles.css');

form {
    background-color: var(--negro);
    padding: 2rem 3rem;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 40rem;
}

form input {
    border-radius: 100vh;
    padding: .3rem 1rem;
    border: 2px solid var(--app-grey);
}

form input:focus {
    outline: none;
    border: 2px solid var(--lila);
}


form button {
    background-color: var(--azul);
    color: white;
    padding: .8rem 1.5rem;
    border-radius: .3rem;
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: 400;
}

form button:hover {
    background-color: var(--azul-hover);
}
